@media(max-width:1200px){


  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
  }
  
  .sidebar-link{
    height: 70px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  .sidebar-link:hover{
    background-color: rgb(236, 233, 233);
    cursor: pointer;
  }
  .sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
  }
  .sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
  }
  
}

@media(min-width:1200px){

  .sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 250px;
    z-index: 200;
  }

  .sidebar-link{
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .sidebar-link:hover{
    background-color: rgb(236, 233, 233);
    cursor: pointer;
  }

  .sidebar-link img{
    height: 24px;
    margin-right: 20px;
    
  }
  .sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 15px;
    font-weight: 500;
  }


}

